HELP.md

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### VS Code ###
.vscode/

# Mac
*.DS_Store
DS_Store

# Scala Ignore files #

.cache
.class
.classpath
.DS_Store
.history
.idea
.idea_modules
.ivy2
.project
.settings
bin
conf/certs
dist
lib_managed
logs
project/boot
project/project
project/target
release-notes
src_managed
target
unversioned
backup
 
/*.conf
/tmp
 
*.iml

# Compiled source #

*.com
*.class
*.dll
*.exe
*.o
*.so
